

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FLEXBOX */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* flexbox is a whole module and not a single property, it involves 
a lot of things including its whole set of properties. 

Some of them are meant to be set on the container (parent element, known 
as “flex container”) whereas the others are meant to be set on the 
children (said “flex items”). */

/* PARENT properties */
/*
display, flex-direction, flex-wrap, flex-flow, justify-content, align-items, align-content, gap/row-gap/column-gap

Notes:
1. justify-content (MAIN AXIS X DIRECTION) versus align-items (CROSS AXIS Y DIRECTION) = flex-direction = row/column

*/

/* CHILDREN properties */
/* 
order, flex-grow, flex-shrink, flex-basis, flex, align-self, 
*/

.flexboxTrial
{
    background: blue;
    width: 850px;
    height: 195px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    /* MAIN AXIS */
    justify-content: space-around;

    /* CROSS AXIS */
    align-items: center;
}


/* GRID */

.gridTrial{
   
    width: 550px;
    height: auto;
    margin: 0 auto;
    padding: 0px;

    position: relative;

    border-style: solid;
    border-color: gray;
    border-radius: 9px;
   
   
    display: grid;
   
    /* grid-template-columns: 300px 200px 75px; */
    grid-template-columns: auto auto auto;
    grid-template-rows: 75px 75px 75px;

    column-gap: 0px;
    row-gap: 0px;

    justify-content: space-evenly;
    align-items: center;

    /* justify-content: space-between; */
}


#header{
    background: red;
    width: 500px;
    height: 50px;
}

#largeColumn{
    background: gray;
    width: 50px;
    height: 200px;

    /* margin: 0 auto; */
    justify-self: start;
    margin: 0 auto;

    grid-row: 1 / 4;

}

#main{
    background: green;
    width: 300px;
    height: 50px;

    grid-column: 1;
    grid-row: 2;
}

#sidebar{
    background: orange;
    width: 150px;
    height: 50px;

    /* main axis (x axis) aligning to the right */
    justify-self: end;

    grid-column: 1;
    grid-row: 2;
}

#footer{
    background: purple;
    width: 500px;
    height: 50px;

    grid-row: 3;
}




